@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:wght@400..700&display=swap');

.container {
    max-width: 1280px;
    max-height: 924px;
    background-color: #F2F7FD;
    display: block;
    margin: 8px auto;
    /* margin-top: 8px; */

}


body {
    background-color: #ffffff;
}


.main {
    display: flex;
    margin-top: 122px;

}

.left {
    width: 50%;
    text-align: left;

}

.left h2 {
    font-family: 'inter';
    font-weight: 600;
    font-size: 32px;
    color: #4f4f4f;
    margin-bottom: 24px;

}

.left .welcome {
    margin-bottom: 8px;
}

.left h1 {
    font-family: 'Google Sans Code', monospace;
    font-weight: 500;
    font-size: 94px;
    /* background: linear-gradient(135deg, #DD383F, #FF858B); */
    background-color: #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-top: 0;
    margin-bottom: 0;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;


}

.multi-line-heading {
    font-family: 'Google Sans Code', monospace;
    font-weight: 500;
    font-size: 96px;
    /* background: linear-gradient(135deg, #DD383F, #FF858B); */
    background-color: #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-top: 0;
    margin-bottom: 0;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
}

.left .multi-line-heading span {
    display: inline-block;
}

.narrow-space {
    display: inline-block;
    width: 15px;
    /* or whatever spacing you prefer */
}

.left .red-letter {
    font-family: 'Google Sans Code', monospace;
    font-weight: 500;
    font-size: 96px;
    /* background: linear-gradient(135deg, #DD383F, #FF858B); */
    background-color: #F30711;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-top: 0;
    margin-bottom: 0;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
}

.right {
    width: 50%;
    /* background-color: #E84B58; */
}

.welcome-button {

    white-space: nowrap;
    margin-top: 24px;
    padding: 20px 40px;
    font-family: 'inter';
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    background: linear-gradient(135deg, #E84B58, #FF9D92);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    max-width: 248px;
    max-height: 56px;
    transition: background 0.3s ease;

}

.welcome-button:hover {
    /* transform: scale(1.15); */
    background: linear-gradient(135deg, #b71d29, #c2675d);
}

.custom-table {

    width: 100%;
    height: 100%;
    border-collapse: separate;
    /* border-spacing: 0px 10px; */

}

.merged-cell {
    /* background-color: #ffffff; */
    border-radius: 36px;

    table-layout: fixed;
    /* margin: 48px 1px; */
    font-family: 'Inter';
    font-weight: 600;
    padding: 0;



}

.merged-cell.bottom {
    width: 50%;
    height: 50%;


}

.merged-cell.top {
    height: 50%;
}

.merged-cell h2 {
    text-align: left;
    padding-left: 31px;
}



.cell-bg-image {
    position: absolute;
    bottom: 0;
    left: 18%;
    /* width: 358px;
    height: 216px; */
    object-fit: contain;
    z-index: 0;
    margin-top: 45px;
    pointer-events: none;

}

.cell-content {
    /* padding-left: 30px; */
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* push content apart */
    /* align-items: flex-start; */
    height: 100%;
    position: relative;
    /* padding-bottom: 10px; */
    overflow: hidden;
    /* spacing from bottom if needed */
    border-radius: 36px;
    background-color: #ffffff;
    transition: background-color 0.4s ease-in-out;
}

/* .cell-content ::before {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    position: relative;

    overflow: hidden;

    border-radius: 36px;
    background-color: #b54848;
    transition: background-color 0.3s ease-in-out;
    transform: scale(0);

    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
    z-index: 0;
} */



.cell-button {
    align-self: flex-end;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 100px;
    width: 99px;
    z-index: 0;

    background-color: #EE757F;
    color: white;
    border: none;
    border-radius: 24px;
    transition: background 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    z-index: 1;
    padding: 10px;
    opacity: 0;
}

.cell-content:hover .cell-button {
    opacity: 1;
    pointer-events: auto;
}

.cell-button i {
    rotate: -45deg;
    font-size: 28px;

}

/* .cell-button:hover {
    background: linear-gradient(135deg, #c1272d, #ff4d4d);
    transform: scale(1.05);
    rotate: -15deg;
} */
.cell-button:hover {
    background-color: #ff4d4d;
    transform: scale(1.05);
    rotate: -15deg;
}

.spacer-row {
    height: 5px;

    padding: 0;
    margin: 0;
    background: none;
    border: none;

}

.cell-gap {
    width: 20px;
    background: none;
    padding: 0;
    border: none;

}

.custom-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    height: 100%;

}

.grid-item.full-width {
    grid-column: span 2;

}

.top {
    background-color: #ffffff;
    border-radius: 36px;
    text-align: left;
}

.bottom {
    background-color: #ffffff;
    border-radius: 36px;
    text-align: left;

}



.bottom .cell-content h2 {
    margin-top: 8%;
    margin-left: 8%;
}

.top .cell-content h2 {
    margin-top: 4%;
    margin-left: 4%;
}

/* .top .cell-bg-image {
    background-color: #ffffff;
} */

/*==============================================================================================================
============================================Mobile Optimization=================================================
==============================================================================================================*/

@media (max-width: 768px) {
    .container {
        max-width: 450px;
        max-height: 932px;
        background-color: #F2F7FD;
        display: block;
        /* margin: 8px auto; */
        /* margin-top: 8px; */

    }

    .main {
        display: block;
        /* margin-top: 122px; */

    }

    .left {
        width: 100%;
        text-align: center;
        margin-bottom: 24px;

    }



    .left .welcome {
        margin-bottom: 8px;
    }

    .left h1 {
        font-family: 'inter';
        font-weight: 600;
        font-size: 74px;
        background: linear-gradient(135deg, #DD383F, #FF858B);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        margin-top: 0;
        margin-bottom: 0;



    }

    .right {
        width: 100%;
        /* background-color: #E84B58; */
    }



    .cell-bg-image {
        position: absolute;
        bottom: 0;
        left: 18%;
        /* width: 358px;
        height: 216px; */
        object-fit: contain;
        z-index: 0;
        margin-top: 45px;
        pointer-events: none;

    }

    .cell-content {
        /* padding-left: 30px; */
        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* push content apart */
        /* align-items: flex-start; */
        height: 100%;
        position: relative;
        /* padding-bottom: 10px; */
        overflow: hidden;
        /* spacing from bottom if needed */
    }

    .cell-content h2 {
        margin-top: 8%;
    }


    .cell-button {
        align-self: flex-end;
        margin-right: 10px;
        margin-bottom: 10px;
        height: 80px;
        width: 79px;
        z-index: 0;

        background-color: #EE757F;
        color: white;
        border: none;
        border-radius: 24px;
        transition: background 0.3s ease, transform 0.2s ease;
        cursor: pointer;
        z-index: 1;
        padding: 10px;
    }

    .cell-button i {
        rotate: -45deg;
        font-size: 28px;

    }

    .cell-button:hover {
        background: linear-gradient(135deg, #c1272d, #ff4d4d);
        transform: scale(1.05);
        rotate: -15deg;
    }

    .spacer-row {
        height: 10px;

        padding: 0;
        margin: 0;
        background: none;
        border: none;

    }

    .cell-gap {
        width: 20px;
        background: none;
        padding: 0;
        border: none;

    }

    .custom-grid {
        grid-template-columns: 1fr;
    }

    .grid-item.full-width {
        grid-column: span 1;
    }

    .bottom .cell-content h2 {
        margin-top: 4%;
        margin-left: 4%;
    }

    .top .cell-content h2 {
        margin-top: 4%;
        margin-left: 4%;
        z-index: 1;
    }

    .top .cell-bg-image {
        height: 80%;
        width: auto;
        /* This keeps the aspect ratio */
        object-fit: contain;
        /* Optional: ensures full image is visible */
        display: block;
    }

    .bottom .cell-bg-image {
        height: 85%;
        width: auto;
        /* This keeps the aspect ratio */
        object-fit: contain;
        /* Optional: ensures full image is visible */
        display: block;
    }



}